.tmdb__rating {
  display: flex;
  justify-content: space-between;
  border: 2px solid #6cc4b4;
  border-radius: .5rem;
  min-width: 8rem;

  .rating {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    padding: .3rem;
    min-width: 2.5rem;
  }

  .tmdb {
    color: #1e1e1e;
    font-weight: 600;
    font-size: 1.2rem;
    background: #6cc4b4;
    padding: .3rem .6rem .3rem .6rem;
    border-radius: 0 .25rem .25rem 0;
  }
}