.stack-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.chip {
  display: inline-block;
  margin: 2px;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}

.filled {
  font-weight: bold;
  border-radius: 16px;
  background-color: #720e9e;
  color: #ffffff !important;
}

.outlined {
  border-radius: 16px;
  border: 2px solid #9c27b0;
  background-color: transparent;
  color: #9c27b0 !important;
  font-weight: bold;
  outline-style: solid;
}

.outlined:hover {
  color: white !important;
  border: 2px solid #47b8d9 !important;
}