.search-tab-title {
  text-align: center;
}

.search-tab {
  background: #161d31;
  text-align: center;
  margin: 1.5rem 2rem;

  .MuiInputBase-input {
    color: #ffffff;
    font-weight: bold;

    &:hover {
      color: #ffffff;
      font-weight: bold;
    }
  }

  .MuiSvgIcon-root {
    color: #ffffff;
  }

  &:hover {
    background: #7367f0;
  }
}